apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-gateway-deployment
  labels:
    app: gateway
spec:
  replicas: {{ .Values.gateway.replicas }}
  selector:
    matchLabels:
      app: gateway
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - image: guswlsdl4808/fc-nestjs-gateway:latest
          name: gateway-container
          envFrom:
            - configMapRef:
                name: gateway-config-map
          ports:
            - containerPort: 3000
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            periodSeconds: 5