apiVersion: v1
kind: Service
metadata:
  labels:
    app: gateway
  name: {{ .Chart.Name }}-gateway-node-port
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: gateway