apiVersion: v1
kind: Service
metadata:
  labels:
    app: user
  name: {{ .Chart.Name }}-user-cluster-ip
spec:
  type: ClusterIP
  ports:
    - port: 3001  
      targetPort: 3001
      protocol: TCP 
  selector:
    app: user  